

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    /* border: 1px solid red; */
}

html{
    width: 100vw;
    height: 100vh;
    /* font-family: jetbrains mono; */
    /* font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace; */
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    scrollbar-width: 0px;
}
/* Hide default scrollbar */
body::-webkit-scrollbar {
    width: 0;  /* For Safari and Chrome */
  }
  
  /* Style the track (the area behind the thumb) */
  body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Style the scrollbar thumb */
  body::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Optional: Hover state of scrollbar thumb */
  body::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body{
    width: 100vw;
    height: 100vh;
    /* font-family: jetbrains mono; */
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
#root{
    width: 100vw;
    height: 100vh;
    /* font-family: jetbrains mono; */
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* ---def seeting thi itni..hamesha karna hai--- */

:root {
    --bg: #1C1C22;
    --bgs: #27272c;
    --pc: #2399C4;
    --sc: red;
    --txt: white;
}
 

body{
    background-color: var(--bg);
    /* background-color: black; */
    /* background-color: #1c1c22; */
    /* background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23212121' fill-opacity='0.79' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    color: var(--txt);
}

/* body:hover{
    background-color: var(--bgs);
} */

#root{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



